#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Custom CSS for Traffic Light component */
.traffic-light {
    background: #222;
    border-radius: 30px;
    width: 90px;
    padding: 25px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px #444;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px auto;
    background-color: #333;
}

.red-on {
	background: #d52b1e;
	opacity: 1;
	box-shadow: 0 0 24px #d52b1e;
}

.yellow-on {
	background: #ffed00;
	opacity: 1;
	box-shadow: 0 0 24px #ffed00;
}

.green-on {
	background: #00bb2d;
	opacity: 1;
	box-shadow: 0 0 24px #00bb2d;
}
